numpy>=1.10.0
pandas>=0.23.4
dask>=2.1.0
distributed>=2.1.0
lightgbm>=2.2.3
h2o>=3.26.0
statsmodels>=0.12.2
fbprophet>=0.5
tqdm>=4.62.0
catboost>=0.17.0
category_encoders>=2.1.0
xgboost>=0.90.0
scikit-learn>=0.21.0
parameterized>=0.7.0
optuna>=2.7.0